@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --theme: #c79c60;
    --green:hsl(226, 75%, 52%);
    --black:#010207;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    margin: 0;
    padding: 0;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 30px;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 40px;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 20px;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 1.5rem;
}

.btn:hover{
    background: var(--theme);
}

.menu{
    padding-top: 8rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1%;  
}

.menu .box-container .box .image{
    height: 450px;
    width: 100%;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content{
    padding:10px;
}

.menu .box-container .box .content .stars{
    padding-bottom: 0.5rem;
}

.menu .box-container .box .content .stars i{
   font-size: 16px;
   color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 30px;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 20px;
    padding:.3rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 24px;
}