*{
    margin: 0;
    padding: 0;
}

:root{
    --theme: #c79c60;
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --gold:#eeff00;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav .navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    z-index: 1000;
    background-color: #000;
}

nav .navbar .brand{
 margin-right: auto !important;
}

nav .navbar .brand h1{
    background: url(/home/ukistu17/Documents/restaurant-website/images/logo.png) no-repeat;
    padding: 0 25%;
    background-position-y: bottom;
    display: inline-block;
    font-size: 32px;
    margin: 0 10px;
    color: var(--theme);
    cursor: default;
}

nav .navbar .nav-menu{
    list-style: none;
    display: flex;
}

nav .navbar .nav-menu li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px 20px 30px;
    margin: 0 0.5rem;
}

nav .navbar .search-icon i{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    margin: 0 1rem;
    cursor: pointer;
}

nav .navbar .nav-menu li a.active{
    background: url(/home/ukistu17/Documents/restaurant-website/images/logo.png) no-repeat, url(/home/ukistu17/Documents/restaurant-website/images/nav-underline.png) no-repeat;
    background-size: 20px, 75px 17px;
    background-position: 0% 30%, center bottom;
}

nav .navbar .search-container{
    position: absolute;
    right: 10px;
    top: 3.5rem;
    opacity: 0;
    pointer-events: none;
    transition: 400ms;
}

nav .navbar .search-container input[type="text"]{
    padding: 8px 5px;
    border: 0;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
    width: 300px;
    font-size: 16px;
}

nav .navbar .search-container input[type="submit"]{
    background-color: var(--theme);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 0.3rem;
    border: 0;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
}

nav .navbar .search-container input[type="submit"]:hover{
    background-color: #000;
    cursor: pointer;
}

nav .navbar .search-container.active{
    top: 6rem;
    opacity: 1;
    pointer-events: auto;
}

header{
    color: #fff;
    padding: 8rem 0;
    text-align: center;
    cursor: default;
    background: url(/home/ukistu17/Documents/restaurant-website/images/banner-bg.jpg);
}

header h2{
    margin: 6rem 0 0.5rem 0;
    font-size: 30px;
}

header h3{
    font-size: 20px;
}

header .header-order-btn{
    background-color: var(--theme);
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    color: #fff;
    font-weight: bold;
    font-size: medium;
    border-radius: 0.2rem;
}

header .header-order-btn:hover{
    background-color: #000;
    cursor: pointer;
}

.content-container{
    text-align: center;
    background-color: #fff;
    padding: 1%;
}

.content-container h1{
    font-size: 30px;
    color: var(--theme);
    padding: 0.5rem 0;
}

.content-container .content{
    width: 90%;
    margin: auto;
    background-color: #fff;
}

.content-container .content .category-lists{
    padding: 1%;
    width: 98%;
    margin: auto;
}

.content-container .content .category-lists ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.content-container .content .category-lists ul li{
    font-size: large;
    font-weight: bold;
    padding: 1% 2%;
    border-radius: 0.5rem;
    border:1px solid var(--theme);
    cursor: pointer;
}

.content-container .content .category-lists ul li.active{
    background-color: var(--theme);
    color: #fff;
}

.content-container .content .category-lists ul li:hover{
    background-color: var(--theme);
    color: #fff;
}

.content .box-container{
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.content .box-container .box{
    border: 2px solid var(--theme);
    border-radius: 0.2rem;
    background-color: var(--theme);
}

.content .box-container .box.hide{
    display: none;
}

.content .box-container .box .image{
    height: 350px;
}

.content .box-container .box .image img{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    border-radius: 0.2rem;
    object-fit: cover;
}

.content .box-container .box .food-content{
    color: #fff;
}

.content .box-container .box .food-content h3{
    font-size: 26px;
}

.content .box-container .box .food-content span{
    font-size: 20px;
    color: #000;
}


footer{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border-top: 2px solid #666;
}

footer .locations, footer .quick-links, footer .contact-info, footer .follow-us{
    background-color: #000;
    width: 20%;
    padding: 1%;
}

footer .locations h4, footer .quick-links h4, footer .contact-info h4, footer .follow-us h4{
    margin: 1rem 0;
    font-size: large;
    color: var(--theme);
    cursor: default;
}

footer .locations .location{
    margin: 0.5rem 0.3rem;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

footer .quick-links a{
    display: block;
    margin: 0.5rem 0.3rem;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

footer .quick-links a:hover{
    text-decoration: underline;
    color: var(--theme);
}

footer .contact-info span{
    color: #fff;
    display: block;
    margin: 0.5rem 0.3rem;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

footer .follow-us a{
    color: #fff;
    display: block;
    margin: 0.5rem 0.3rem;
    text-decoration: none;
}

footer .follow-us a i{
    font-size: 20px;
}

footer .follow-us a:hover{
    text-decoration: underline;
    color: var(--theme);
}

.mobile-menu-icon{
    display: none;
    cursor: pointer;
    font-size: xx-large;
    position: absolute;
    right: 2rem;
    color: #fff;
}

.mobile-menu-container{
    background-color: #0c0c0c;
    top: 4.34rem;
    position: fixed;
    padding: 20px;
    float: right;
    right: 1rem;
    opacity: 0.8;
    display: none;
    z-index: 1000;
}
.mobile-menu-container ul{
    list-style: none;
}

.mobile-menu-container ul li{
    margin: 1.5rem 0;
    
}

.mobile-menu-container ul li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 10px 17px 30px;
}

.mobile-menu-container ul li a.active{
    background: url(/home/ukistu17/Documents/restaurant-website/images/logo.png) no-repeat, url(/home/ukistu17/Documents/restaurant-website/images/nav-underline.png) no-repeat;
    background-size: 20px, 70px 17px;
    background-position: 0% 30%, center bottom;
}


@media(max-width: 1024px){
    nav .navbar .nav-menu{
        display: none;
    }

    nav .navbar .search-icon{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-container{
        display: none;
    }

    .mobile-menu-container.active{
        display: block;
    }

    .content-container .content{
        width: 100%;
    }

    .content-container .content .category-lists{
        display: none;
    }
    
    .content-container .content .box-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer{
        display: block;
        text-align: center;
    }

    footer .locations, footer .quick-links, footer .contact-info, footer .follow-us{
        width: 100%;
        padding: 1% 0;
    }
}